<h1>NgIf</h1>
<p *ngIf="isVisible">Hello worlds</p>
<button (click)="isVisible = !isVisible">Toggle</button>

<!-- Kiểm tra isLoggedIn = true -->
<div *ngIf="isLoggedIn ; else templateLogin">
    <p>Welcome</p>
    <button (click)="isLoggedIn = false">Logout</button>
</div>

<!-- Kiểm tra isLoggedIn = false -->
<div *ngIf="!isLoggedIn">
    <p>Please login</p>
    <button (click)="isLoggedIn = true">Login</button>
</div>

<!-- Mặc định không được render ra UI, nó chỉ được gọi ra khi có 1 lời gọi -->
<ng-template #templateLogin>
    <!-- Kiểm tra isLoggedIn = false -->
    <div>
        <p>Please login</p>
        <button (click)="isLoggedIn = true">Login</button>
    </div>
</ng-template>

<h1>ngSwitch</h1>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">Red</p>
    <p *ngSwitchCase="'blue'">Blue</p>
    <p *ngSwitchCase="'yellow'">Yellow</p>
    <p *ngSwitchCase>Default</p>
</div>
<select [value]="color" (change)="color = $event.target.value">
    <option value="">----</option>
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="yellow">Yellow</option>
</select>

<h1>ngFor</h1>
<h3>Danh Sách Sinh Viên</h3>
<div *ngFor="let sv of dssv; let idx = index; let total = count">
    <p>{{idx + 1}}/{{total}} - Họ tên: {{sv.hoTen}} - Lớp: {{sv.lop}}</p>
</div>

<h3>Danh Sách Học Sinh</h3>
<!-- Muốn kiểm tra danh sách khác null thì mới sử dụng ngFor -->
<!-- Nếu dshs null => ngIf ko render ra -->
<div class="d-flex">
    <!-- ng-container tương tự Fragment react -->
    <!-- 2 directives không cùng nằm trên 1 thẻ -->
    <ng-container *ngIf="dshs">
        <p *ngFor="let hs of dshs">Họ tên: {{hs.hoTen}} - Lớp: {{hs.lop}}</p>
    </ng-container>
</div>
<button (click)="layDSHS()">Lấy danh sách học sinh</button>

<!-- ngTemplateOutLet -->
<ng-template #templateAlert>
    <div class="alert alert-primary" role="alert">
        <strong>Alert</strong>
    </div>
</ng-template>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>

<h1>NgContent</h1>
<app-card>
    <div slot="header">Header</div>
    <div slot="body">Body</div>
    <div slot="footer">Footer</div>
</app-card>

<app-card>
    <div slot="header">Cybersoft</div>
    <div slot="body">Khóa học FE</div>
    <div slot="footer">FE48</div>
</app-card>